.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 40px 0 40px;

}

.about__img {
  width: 100%;
  border-radius: 2%;
}


.about__text-block {
    position: relative;
}
.about__text {

  font-weight: 600;
  text-align: center;
}
.about__title {

  font-weight: 600;
  text-align: center;
}
