.about {
  background-color: rgb(212, 212, 212);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;

}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  max-width: 1180px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.about__img {
  width: 100%;
  border-radius: 2%;
  transition: 1s;
}


.about__text-block {
  position: relative;
}

.about__text {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.about__title {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}


.about__img:hover {
  transform: scale(1.1);
}
