.footer {
margin: 0 auto;
background-color: rgb(212, 212, 212);
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.footer__copyright {
  list-style: none;
  color: black;
  text-decoration: none;
}
