.header {
  margin: 0 auto;
  max-width: 1180px;
  font-size: 1.3em;

}


.nav-link {
  transition: 0.1s;
}

.nav-link:hover {
  transform: scale(1.1);

}

@media screen and (max-width: 1224px) {
  .nav-link {
    font-size: 1em;}
}
