.header {

height: 120px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

/* .header__logo {
  padding-left: 40px;
} */
.header__title {
  padding-left: 80px;
  font-size: 3em;
}


.header__menu {
  display: flex;
  flex-direction: row;
}


.header__links {
  font-size: 1.5em;
  list-style-type: none;
  padding-left: 18px;
  align-items: center;
    display: flex;

}

.header__menu {
  padding-right: 80px;
}

.header__link {
  list-style: none;
  color: black;
  text-decoration: none;
}
