.help {
  margin: 0 auto;
  min-height: 80vh;
  padding: 80px 0;
  min-width: 980px;

}

.help__block {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1180px;
}

.help__content-box {
  width: 80vw;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.help__block_type_text {
  font-size: 1.5em;
}



.help__block_type_list {
  text-align: none;
  list-style: none;
}


.help__list-style {
  font-size: 1.1em;
  border-bottom: solid 1px black;
  margin-bottom: 10px;
}

.accordion {
  width: 70%;
}
