.help {
  margin: 0 auto;
  min-height: 60vh;
  padding: 80px 0;

  padding: 0 20px;
  width: 100%;
}

.help__block {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-width: 1180px; */
}

/* .help__content-box {
  /* width: 80vw; */
  /* padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
/* }  */

.help__block_type_text {
  font-size: 1.5em;
}








.accordion {
  width: 70%;
}
