.help {
/* margin: 40 auto; */
  min-height: 100vh;
  padding: 80px 0;
}

.help__block {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 40px;
}
