*:before,
*:after {
  box-sizing: border-box;
}

.mission {
  background-color: rgb(212, 212, 212);
  min-height: 100vh;
}

.mission__container {

  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1180px;
  justify-content: center;
  align-items: center;
}

.mission__article {

  width: 33%;
  height: 30vh;
  position: relative;
  overflow: hidden;
}

.mission__article_type_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
}

.mission__article_type_textblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #a39292e6;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity .2s linear;
}

.mission__article_type_title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.mission__article_type_text {
  color: white;
}

.mission__article:hover .mission__article_type_textblock {
  opacity: 1;
}
