*:before,
*:after {
  box-sizing: border-box;
}

.mission {
  background-color: rgb(212, 212, 212);
  min-height: 100vh;
  padding: 80px 0;
}

.mission__title {
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 80px;
}

.mission__container {

  max-width: 1180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px 40px;
  margin: 0 auto;
}


.mission__article {

  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
}

.mission__article_type_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}


.mission__article_type_textblock {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  text-align: center;

}

.mission__img {
  width: 70px;
  margin: 0 auto 20px;

}

/* ///////////////////////////////// */

.mission__article_type_title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.mission__article_type_text {
  /* color: white; */
  color: black;
  font-size: 1.3em;
  margin: 0 auto;
}


.mission__article:hover .mission__article_type_textblock {
  opacity: 1;
}
