@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;600;700&display=swap');

@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/root.css);
@import url(../blocks/about.css);
@import url(../blocks/mission.css);
@import url(../blocks/help.css);
@import url(../blocks/slider.css);
